@page
@model PROVA_DEV2.Pages.Produtos.lista_produtosModel
@{
    ViewData["Title"] = "Lista Produtos";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-secondary btn-sm" a href="/create">Novo Produto</a>
<br />
<br />
<table class="table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Validade</th>
            <th>Criado em</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listProduto)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.price</td>
                <td>@item.validity</td>
                <td>@item.create_at</td>
                <td>
                    <a class="btn btn-contrasting" a href="/Produtos/edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger" a href="Produtos/delete?id=@item.Id">Del</a>
                </td>
            </tr>
        }
    </tbody>
</table>