@page
@model PROVA_DEV2.Pages.Clientes.lista_clientesModel
@{
    ViewData["Title"] = "Lista Clientes";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-secondary btn-sm" a href="/create">Novo Cliente</a>
<br />
<br />
<table class="table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Fone</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Criado em</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.phone</td>
                <td>@item.email</td>
                <td>@item.adress</td>
                <td>@item.create_at</td>
                <td>
                    <a class="btn btn-warning" a href="/Clientes/edit?id=@item.id">Edit</a>
                    <a class="btn btn-dark" a href="Clientes/delete?id=@item.id">Del</a>
                </td>
            </tr>
        }
    </tbody>
</table>